<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Signup date</th>
      <th></th>
      <th></th>
      <th></th>
      <th class='avg_price'>Average total price</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.signup_date %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class='avg_price' id='avg_price_<%= employee.id %>'></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
<%= link_to 'Show average total price', '#', id: 'show_avg_button' %>
<%= link_to 'Hide average total price', '#', id: 'hide_avg_button', class: 'avg_price' %>
