<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Total price</th>
      <th>Created</th>
      <th>Num units</th>
      <th>Employee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.total_price %></td>
        <td><%= order.created_at %></td>
        <td><%= order.num_units %></td>
        <td><%= order.employee.name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
